name: flutter_infix
description: "wrapper of infix package for flutter projects"
version: 0.0.1
repository: https://github.com/dzylikecode/infix

environment:
  sdk: ^3.7.0
  flutter: ">=1.17.0"

resolution: workspace

dependencies:
  flutter:
    sdk: flutter
  infix: ^2.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

